body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin: 100px;
}
.half-width{
    width: 50%;
    padding-left: 15%;
    
}
.half-width img{
    width: 80%;
}
.food-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,yellow);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 50px;
}
.about-me{
    background-image: url(images/7.png);
}


h2{
    text-align: center;
}
p{
    text-align: center;
}
.recipie-item {
    width: 30%;
    margin: 2%;
    border-radius: 5%;
    padding: 2%;
    box-shadow: 10px 10px 20px 5px #e4dede;
}

.recipie-img {
    width: 100%;
}

.recipie-img img {max-width: 100%;}

h2.recipie-item-title {
    font-size: 24px;
    margin: 6% 0;
}

p.recipie-description {
    font-size: 17px;
    font-weight: 100;
}

h1.recipie-title {
    text-align: center;
    font-size: 40px;
    margin: 2% 0;
}

p.recipie-title-description {
    width: 37%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
}
.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}



   
    
   
   

