body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orangered;
}
section{
    display: flex;
    margin: 100px;
}
.half-width{
    width: 50%;
    padding-left: 15%;
}
.half-width img{
    width: 70%;
}
.food-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,yellow);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 50px;
}
.about-me{
    background-image: url(images/7.png);
    
}
h2{
    color: orangered;
}
   
    
   
   

